{
"trailingComma": "all",
"tabWidth": 4,
"singleQuote": false,
"printWidth": 70,
"bracketSpacing": true,
"arrowParens": "always",
"semi": true,
"useTads": false,
"jsxBracketSameLine": false,
"endOfLine": "auto",
"quoteProps": "consistent",
"bracketSameLine": true
}